<h2>Seach Events</h2>
<div  class="form-body">
    <form action="/events" method="GET">
        <div class="form-item">
            <input type="text" name="eventName" value="<%= searchOptions.eventName %>" placeholder="Event Name" class="form-input">
        </div>
        <div>
            <label>Events After</label >  
        </div>
        <div class="form-item">
            <input type="date" name="eventAfter" value="<%= searchOptions.eventAfter %> " placeholder="After" class="form-input">
        </div>
        <div>
            <label>Events Before</label>
        </div>
        <div class="form-item">
            <input type="date" name="eventBefore" value="<%= searchOptions.eventBefore %> " class="form-input">
        </div>
        <button type="submit" class="form-button">Search</button>
    </form>
</div>
<div>
    <h2>Result</h2>
    <table  class="t-view"> 
        <tr>
            <th class="th-view-h">Date</th>
            <th class="th-view-h">Event Name</th>
            <th class="th-view-h">Location</th>
        </tr>
    <% events.forEach(event => { %>
            <tr class="tr-table">
                <th class="th-view"><%= moment(event.eventDate).format('DD-MM-YY') %></th>
                <th class="th-view"><a href="/events/<%= event.id %>" class="link1"><%= event.eventName %></a></th>
                <th class="th-view"><%= event.eventLocation %></th>
            </tr>
    <% }) %>
</table>
</div>