<h2>Seach Events</h2>
<div  class="form-body">
    <form action="/events" method="GET">
        <div class="form-item">
            <input type="text" name="eventName" value="<%= searchOptions.eventName %>" placeholder="Event Name" class="form-input">
        </div>
        <div>
            <label>Events After</label >  
        </div>
        <div class="form-item">
            <input type="date" name="eventAfter" value="<%= searchOptions.eventAfter %> " placeholder="After" class="form-input">
        </div>
        <div>
            <label>Events Before</label>
        </div>
        <div class="form-item">
            <input type="date" name="eventBefore" value="<%= searchOptions.eventBefore %> " class="form-input">
        </div>
        <button type="submit" class="form-button">Search</button>
    </form>
</div>
<div>
    <h2>Result</h2>
    <% events.forEach(event => { %>
        <div class="information-grid4">
            <div>Event Time: <%= moment(event.eventDate).format('DD-MM-YY') %> </div>
            <div>Event Name: <%= event.eventName %> </div>
            <div>Event Location: <%= event.eventLocation %></div>
            <a href="/events/<%= event.id %>">View</a>
        </div>
    <% }) %>
</div>