<h2>New Event</h2>
<form action="/events" method="POST">
    <div class="information-grid3">
        <div>
            <label>Event Name</label>
            <input type="text" name="eventName" value="<%= Event.eventName %> ">
        </div>
        <div>
            <label>Event Type</label>
            <select name="eventType">
                <% eventTypes.forEach(eventType => { %>
                    <% if (eventType.id === event.eventType) { %>
                    <option selected label="<%= eventType.name %> " value="<%= eventType.id %> "></option>
                    <% } else { %>
                        <option label="<%= eventType.name %>" value="<%= eventType.id %> "></option>
                        <% } %>
                    <% }) %> 
            </select>   
        </div>
        <div>
            <label>Event Date</label>
            <input type="date" name="eventDate" 
                value="<%= Event.eventDate == null ? '' : Event.eventDate.toISOSTRING().split('T')[0] %>">
        </div>
    
        <div>
            <label>Host</label>
            <input type="text" name="host" value="<%= user.name %>">
        </div> 
        <div>
            <label>Event Location</label>
            <input type="text" name="eventLocation" value="<%= Event.eventLocation %>">
        </div>
        <div>
        </div>
    </div>
    <label>Description</label>
    <div></div>
    <textarea name="description"<%= Event.description %> ></textarea>
    <div></div>
    <a href="/events">Cancel</a>
    <button type="submit">Create</button>
</form>