<h2><%= eventType.name %></h2>
<a href="/eventTypes/">Return</a>
&nbsp&nbsp&nbsp
<% if(user.isAdmin) { %>
<a href="/eventTypes/<%= eventType.id%>/edit">Edit</a>
<% } %>
<% if (eventByType.length > 0) { %>
    <h2>Events By Type:</h2>
    <% eventByType.forEach(event => { %>
        <div>
            <h3><%= event.eventName %></h3>
            <div>Event Time: <%= moment(event.eventDate).format('DD-MM-YY') %> </div>
            <div>Event Location: <%= event.eventLocation %></div>
            <div>Event Host: <%= event.host %></div>
            <a href="/events/<%= event.id %>">View Event</a>
        </div>
    <% }) %>
<% } %>